#leftbod {
  width:565px;
  display:inline-block;
}

.connect {
  width:409px;
  height: 72px;
  padding: 42px 0 24px;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: #333;
  display:inline-block;
}

.leftbar {

  padding-bottom:10px;
  margin-top:20px;
}

.rowtext {
  font-size:16px;
  font-weight:bold;
  color:#333;
}


.fb1 {
  display:inline-block;
  vertical-align: middle;
}

.rowtext2 {
  font-size:15px;
  color:#666;
  margin-left:10px;
}

.iconwrap {
  margin-right:20px;
  width:55px;

}

