<div id="leftbod">

  <div class="connect bolder">
    Connect with friends and the
    world around you on Facebook.</div>

  <div class="leftbar">
    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" class="iconwrap fb1"/>
    <div class="fb1">
      <span class="rowtext">See photos and updates</span>
      <span class="rowtext2 fb1">from friends in News Feed</span>
    </div>
  </div>

  <div class="leftbar">
    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" class="iconwrap fb1"/>
    <div class="fb1">
      <span class="rowtext">Share what's new</span>
      <span class="rowtext2 fb1">in your life on your timeline</span>
    </div>
  </div>

  <div class="leftbar">
    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1"/>
    <div class="fb1">
      <span class="rowtext">Find more</span>
      <span class="rowtext2 fb1">of what you're looking for with graph search</span>
    </div>
  </div>


</div>
